.container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden;
  padding: 1em;
  box-sizing: border-box;

  .col {
    width: 30%;
  }

  .title {
    text-align: center;
    margin-bottom: 1em;
  }

  .cur-col {
    height: 100%;
    overflow: auto;
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .update-button {
      margin: 1em 0;
    }

    .loader {
      position: absolute;
      transform: translateY(3em);
    }
  }
}
